* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Font settings - Using Roboto for its clarity and wide support, compliant with accessibility standards */
body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-weight: 700; 
    color: var(--text-primary);
    background-color: var(--light-background);
}

/* Dark theme alternative */
.dark-theme {
    color: var(--text-light);
    background-color: var(--dark-background);
}

/* Main body full screen */
main {
    flex: 1;
}

/* Button styling */
button {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--shadow-soft);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
    transform: var(--transform-scale-hover);
    box-shadow: var(--shadow-hover);
}

